:root {
	--darker_green: #00b300;
	--lighter_green: #00cf00;
	--white: #ffffff;
	--black: #000000;
}

@font-face {
	font-family: "Electrolize";
	src: url("Electrolize-Regular.ttf");
}

body {
	margin: 0;
	background-color: var(--white);
	text-rendering: optimizeLegibility;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#header {
	padding: 30px;
	display: flex;
	width: fit-content;
	overflow: hidden;
}

.hacksignia {
	max-width: 105px;
	margin-right:15px;
}

#hacksignia_light {
}

#hacksignia_dark {
	display: none;
}

#header_text {
	font-family: "Electrolize";
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--black)
}

#header_text > h1 {
	margin:0;
	padding:0;
}

#header_text > h3 {
	margin:0;
	padding:0;
	padding-left:2px;
	font-weight: normal;
	width: min-content;
}

.nodecor {
	text-decoration: none;
	color: var(--black);
	transition: color ease-in-out .15s;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.center {
	display: block;
	margin: 0 auto;
}

#page_container {
	max-width: 1024px;
	padding-bottom: 120px;
}

#marquee_container {
	overflow: hidden;
	white-space: nowrap;
	background-color: var(--black);
	color: var(--white);
	position: relative;
	padding-bottom:2px;
}

.marquee {
	animation: marquee 20s linear infinite;
	display: inline-block;
	padding-left:1024px;
	font-size:20px;
	padding-top:3px;
	padding-bottom: 4px;
}

#marquee_container:hover {
	cursor: grabbing;
}

#marquee_container:hover > .marquee {
	animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to { 
    transform: translateX(-100%);
  }
}

#inner_page_container {
}

#nav_links {
	font-size:26px;
	font-weight:400;
	margin:0px;
	transition: color .15s ease-in-out, opacity .15s ease-in-out, max-height .15s ease-in-out;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top:2px;
}

#nav_break {
	display: none;
	flex-basis: 100%;
	height: 0;
}

#nav_links > a {
	text-decoration: none;
	color: var(--black);
	transition: color ease-in-out .15s;
	padding-top:10px;
}

#nav_links > a:hover {
	color: var(--darker_green);
}

#nav_links > #current_page {
	color: var(--darker_green);
	cursor: default;
}

#bulletin_board {
	padding-left: 30px;
	padding-right: 30px;
}

.post {
	width: 100%;
	height: 10px;
	margin-top: 60px;
}

.post_header {
	background-color: var(--black);
	padding: 20px;
	padding-left: 15px;
	display: flex;
	flex-direction: row;
}

.post_image {
	width: 50%;
	margin:0;
	padding:0;
}

.calendar_link {	
	position: relative;
	padding: 13px;
	width: fit-content;
	background-color: var(--white);
	border-radius: 500px;
	align-items: center;
	font-size: 17px;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.circled_date {
	border-radius: 100%;
	height: 35px;
	width: 35px;
	background-color: var(--darker_green);
	color: var(--white);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.month_and_time {
	padding-left: 6px;
	padding-right: 7px;
	color: var(--black);
}

.time {
	font-size: 15px;
}

.title_and_subtitle {
	padding-left: 25px;
	display: flex;
	flex-direction: column;
	color: var(--white);
}

.title {
	font-family: Electrolize;
	font-size: 30px;
}

.subtitle {
}


@media only screen and (max-width: 1083px) {
	#inner_page_container {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media only screen and (max-width: 1023px) {
	#nav_break {
		display: flex;
	}
}

/* tablet ? */
@media only screen and (max-width: 600px) {
	#nav_links {
		font-size:24px;
	}
	.marquee {
		font-size:19px;
	}
	#header {
		padding:20px;
	}
}

/* phone ? */
@media only screen and (max-width: 520px) {
	#header {
		padding:15px;
	}
	#nav_links {
		font-size:21px;
	}
	#nav_links > a {
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.marquee {
		font-size:18px;
	}
	#inner_page_container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

/* Light mode by default, use dark mode when preferred */
@media (prefers-color-scheme: dark) {
	:root {
		--black: #ffffff;
		--white: #000000;
		--darker_green: #00cf00;
	}
	#hacksignia_light {
		display: none;
	}
	#hacksignia_dark {
		display: inline-block;
	}
}
